body {
    font-family: "Inter tight", sans-serif;
    color: #0c0c0c;
    background-color: #fff;
}
p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.contact-us-container {
    width: 1280px;
    padding: 50px 65px;
}
.contact-us-title {
    font-weight: 600;
font-size: 48px;
line-height: 0.91667;
letter-spacing: -0.02em;
margin-bottom: 40px;
}
.contact-form-text {
    font-weight: 500;
font-size: 16px;
line-height: 1.25;
letter-spacing: -0.02em;
color: rgba(12, 12, 12, 0.7);
margin-bottom: 32px;
}
.flex-container {
    display: flex;
    gap: 40px;
}
.form-container {
    padding: 50px 60px;
    width: 580px;
    border-radius: 50px;
    background-color: #f3f3f3;
}
.form-input {
    width: 100%;
    padding: 16px;
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    background-color: transparent;
    font-weight: 400;
font-size: 16px; 
line-height: 1.25;
color: #0c0c0c;
}
.form-input.comment {
    margin-bottom: 32px;
    min-height: 90px;
}
.input-container {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.form-btn {
    cursor: pointer;
    font-weight: 500;
font-size: 14px;
color: #fbfbfb;
line-height: 1.29;
background: #3350e9;
min-width: 160px;
height: 52px;
border: none;
border-radius: 16px;
padding: 17px 63px;
display: block;
align-items: center;
justify-content: center;
margin: 0;
}
.contact-us-form {
    margin: 0;
}
.image-container {
    border-radius: 50px;
    overflow: hidden;
}
